<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Style.css" />
    <meta charset="UTF-8" />
    <script type="module" defer src="../login.js"></script>
    <title>login</title>
  </head>
  <body class="web_img">
    <nav>
      <ul class="top_nav">
        <li><a href="/">Home</a></li>
        <li><a href="about_page.html">About</a></li>
        <li><a href="contact_page.html">Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <h1 class="header">Login page</h1>
      <form class="my-from">
        <div>
          <!--    <label for="email"><b>Email</b></label>-->
          <input
            id="login_email"
            type="email"
            placeholder="Enter your email"
            name="email"
          /><!--required-->

          <!--    <label for="psw"><b>Password</b></label>-->
          <input
            id="login_password"
            type="password"
            placeholder="Enter your Password"
            name="psw"
          />
          <!--required-->
          <br />

          <a href="#"> <button class="styled" id="login_btn">Login</button> </a>
        </div>
      </form>
    </div>

    <!--<div class="form-item">-->
    <!--    <p class="fromLable">Email</p>-->
    <!--    <input type="email" id="email" name="email" class="from-style" autocomplete="off">-->
    <!--</div>-->

    <!--<div class="from-item">-->
    <!--    <p class="fromLable">Password</p>-->
    <!--    <input type="password" id="pass" name="password" class="from-style"-->
    <!--           minlength="8" required>-->
    <!--</div>-->
    <!--  <p><a href="#" ><small>alredy have account?</small></a></p>-->
    <!--<a href="login_page.html"> <button class="styled">Login</button>-->
    <!--</a>-->
    <!--    </div>&lt;!&ndash; <button> Login</button> &ndash;&gt;-->

    <!--</div> &lt;!&ndash; container&ndash;&gt;-->
  </body>
</html>
