<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Style.css" />
    <meta charset="UTF-8" />
    <script src="contact.js" defer></script>
    <title>contect us</title>
  </head>

  <body class="web_img">
    <nav>
      <ul class="top_nav">
        <li><a href="/">Home</a></li>
        <li><a href="about_page.html">About</a></li>
        <li><a class="selected-link" href="contact_page.html">Contact</a></li>
      </ul>
    </nav>

    <h1 class="header">Thank you, we got your message</h1>

    <hr />
  </body>
</html>
