<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Style.css" />
    <meta charset="UTF-8" />
    <script defer type="module" src="../result_page.js"></script>
    <title></title>
  </head>
  <body class="web_img">
    <nav>
      <ul class="top_nav">
        <li><a href="/">Home</a></li>
        <li><a href="about_page.html">About</a></li>
        <li><a href="contact_page.html">Contact</a></li>
      </ul>
    </nav>

    <h1 class="header">result</h1>

    <div id="eventsTable" class="grid-container">
      <div class="item1">association</div>
      <div class="item2">Description</div>
      <div class="item3">Link</div>
    </div>
  </body>
</html>
